{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Confirmation{% endblock title %}

{% block content %}
    {% if form %}
        <h1>Password Reset Confirmation</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Reset Password">
        </form>
    {% else %}
        <h1>Oops! Bad Request!</h1>
        <p>
            If you're on this page, you have used a password reset link that either doesn't exist or has expired.
            Please 
            <a href="{% url 'password_reset' %}">go to this form</a> 
            to request a new reset link.
        </p>
    {% endif %}
{% endblock content %}