{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Twit Viewer{% endblock title %}

{% block content %}
    <div class="twit-entry">
        <h2>{{ twit.author }}</h2>
        {% if twit.author == user %}
            <a href="{% url "twit_edit" twit.pk %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url "twit_delete" twit.pk %}" class="btn btn-danger btn-sm">Delete</a>
        {% endif %}
        <p>{{ twit.body }}</p>
        {% if twit.image_url %}
            <img src="{{ twit.image_url }}" alt="ERROR: Image not found" class="img-fluid ml-2">
        {% endif %}
    </div>
    
    <h3>Comments</h3>
    <hr>
    {% if user.is_authenticated %}
        <h4>Add a Comment</h4>
        <p style="color: red; font-weight: bold;">WARNING:</p>
        <p style="color: red;">
            You cannot edit or delete comments yourself once posting them.
            The only way you can get your comment deleted is if you refer to an admin, since they have the power to delete comments in the site's admin page.
            To save the pain of both asking the admin and making them search for and delete your comment, please be considerate of your words before posting.
        </p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success ml-2" type="submit">Comment</button>
        </form>
    {% endif %}
    <hr>
    {% for comment in twit.comments.all %}
        <p>{{ comment.author }}</p>
        <p>{{ comment.body }}</p>
        <hr>
    {% endfor %}    
{% endblock content %}