{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <h1>Dashboard</h1>
    <a href="{% url 'twit_create' %}" class="btn btn-primary mb-3">New Twit</a>
    {% for twit in twit_list %}
        <div class="card">
            <div class="card-header">
                <span>{{ twit.author }} | {{ twit.updated }}</span>
                {% if user.is_authenticated and user == twit.author %}
                    <a href="{% url "twit_edit" twit.pk %}" class="btn btn-info btn-sm">Edit</a>
                    <a href="{% url "twit_delete" twit.pk %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </div>
            <div class="card-body">
                <div>{{ twit.body }}</div>
                {% if twit.image_url %}
                    <div>
                        <img src="{{ twit.image_url }}" alt="ERROR: Image not found" class="img-fluid mt-2">
                    </div>
                {% endif %}
            </div>
            <div class="card_footer">
                <a href="{% url "twit_detail" twit.pk %}" class="btn btn-primary">Comments</a>
                <span>
                    {% with user_likes=twit.likes.all %}
                        <button
                            data-id="{{ twit.id }}"
                            data-action="{% if user in user_likes %}un{% endif %}like"
                            data-like-url="{{ twit.get_like_url }}"
                            class="like_button btn btn-{% if user not in user_likes %}outline-{% endif %}primary"
                        >
                            <i class="like_icon bi-hand-thumbs-up{% if user in user_likes %}-fill{% endif %}"></i>
                            <span class="like_count">{{ user_likes|length }}</span>
                            Likes
                        </button>
                    {% endwith %}
                </span>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock content %}