{% extends "base.html" %}

{% block title %}Profile{% endblock title %}

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>
    {% for twit in user.twits.all %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ twit.body }}</p>
                {% if twit.image_url %}
                    <img src="{{ twit.image_url }}" alt="ERROR: Image not found" class="img-fluid mt-2">
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}