{% extends "base.html" %}

{% block title %}Profile{% endblock title %}

{% block content %}
    <h1>Your Profile</h1>
    <a href="{% url "profile_edit" user.username %}" class="btn btn-primary mb-3">Edit Profile</a>
    <ul>
        <li><strong>Username:</strong> {{ user.username }}</li>
        <li><strong>Real Name:</strong> {{ user.first_name }} {{ user.last_name }}</li>
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>Joined:</strong> {{ user.date_joined }}</li>
        <li><strong>Twits Made:</strong> {{ user.twits.count }}</li>
    </ul>
    <h2>Twits by this user:</h2>
    {% for twit in user.twits.all %}
        <div class="card">
            <div class="card-header">
                <span>
                    {{ twit.updated }}
                </span>
            </div>
            <div class="card-body">
                <p>{{ twit.body }}</p>
                {% if twit.image_url %}
                    <img src="{{ twit.image_url }}" alt="ERROR: Image not found" class="img-fluid mt-2">
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url "twit_detail" twit.pk %}" class="btn btn-primary">Comments</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}